<section>
  <div class="row connect-player-buttons">
    <div class="col-md-12">
      <center>
        <%= link_to "Start 1P Game", "#", class: "btn btn-lg btn-primary start-1p-btn" %>
        <%= link_to "Start 2P Game", "#", class: "btn btn-lg btn-primary start-2p-btn" %>
      </center>
    </div>
  </div>
  <div class="row connect-board">
    <div class="col-md-12">
      <center>
        <table class="connect-four-table">
          <thead>
            <tr>
              <% (1..7).to_a.each do |number| %>
                <td class="turn-position" data-position="<%= number %>"></td>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% (1..49).to_a.in_groups_of(7).each do |groups| %>
              <tr>
                <% groups.each do |row| %>
                  <td class="piece-holder"><div class="blank"><%= row%></div></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </center>
    </div>
  </div>
</section>