$(document).ready(function(){
  var rock = new Image();
  var paper = new Image();
  var scissor = new Image();
  var playerName;
  var choices = ["rock", "paper", "scissor"];
  var compPick;
  var playerPick;
  var playerScore = 0;
  var comScore = 0;

  rock.src = "<%= asset_path('rps/rock.jpg') %>"
  paper.src = "<%= asset_path('rps/paper.jpg') %>"
  scissor.src = "<%= asset_path('rps/scissor.jpg') %>"

  var assignImage = function(image){
    if(image === "rock") {
      $("#chosen-sign").append("<img src='"+rock.src+"' width='250' height='250'>")
    } else if (image === "paper") {
      $("#chosen-sign").append("<img src='"+paper.src+"' width='250' height='250'>")
    } else {
      $("#chosen-sign").append("<img src='"+scissor.src+"' width='250' height='250'>")
    };
  };

  var getRandomPick = function(){
    var randIndex = Math.floor(Math.random()*choices.length);
    compPick = choices[randIndex];
    $("#pc-sign").empty();
    if(compPick === "rock") {
      $("#pc-sign").append("<img src='"+rock.src+"' width='250' height='250'>")
    } else if (compPick === "paper") {
      $("#pc-sign").append("<img src='"+paper.src+"' width='250' height='250'>")
    } else {
      $("#pc-sign").append("<img src='"+scissor.src+"' width='250' height='250'>")
    };
  };

  var getScore = function(){
    $("#player-score").html("<b>"+playerScore+"</b>");
    $("#com-score").html("<b>"+comScore+"</b>");
  }

  var checkPickWinner = function(){
    $(".result").empty();
    var playerWinText = "<h3><b>You win!!</b></h3>";
    var compWinText = "<h3><b>Computer win!!</b></h3>"
    if (playerPick == compPick) {
      $(".result").html("<h3><b>The result is a tie..</b></h3>");
    } else {
      switch(playerPick){
        case "rock":
        if (compPick == "scissor"){
          $(".result").html(playerWinText);
          playerScore++;
        } else {
          $(".result").html(compWinText);
          comScore++;
        };
        break;
        case "paper":
        if (compPick == "rock"){
          $(".result").html(playerWinText);
          playerScore++
        } else {
          $(".result").html(compWinText);
          comScore++
        };
        break;
        case "scissor":
        if (compPick == "paper"){
          $(".result").html(playerWinText);
          playerScore++
        } else {
          $(".result").html(compWinText);
          comScore++
        };
        break;
      };
    };
    getScore();
  };

  var startGame = function(){
    playerName = prompt("Please Enter Player Name");
    if (playerName.length === 0){
      playerName = "Player";
    };
    $("#player").html(playerName);
    $(".rps-board").show();
    $(".rps-board-result").show();
    getScore();
  };

  $(".choice").on("click", function(e){
    e.preventDefault();
    playerPick = $(this).data("pick");
    $("#chosen-sign").empty();
    assignImage(playerPick);
    getRandomPick();
    checkPickWinner();
  });

  $(".start-btn").click(function(){
    startGame();
    $(this).hide();
  })
});