.navbar {
  margin-bottom: 0px !important;
  border-radius: 0px !important;
}

/*Rock Paper Scissor*/

.start-btn {
  margin-top: 20px;
}

.rps-board {
  border: 2px solid #333333;
  margin-top: 20px;
  min-height: 400px;
  display: none;
}

.rps-board-result {
  display: none;
}

#chosen-sign {
  margin-left: 150px;
}

#pc-sign {
  margin-top: 75px;
  margin-left: 140px;
}

/* puzzle*/

.puzzle-container {
  margin-top: 100px;
}

.btn-xlarge {
  padding: 27px 42px !important;
  font-size: 33px !important;
  line-height: normal !important;
  -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
      border-radius: 12px !important;
}

.btn-blank {
  background-color: white !important;
}